body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace
}

iframe {
    display: block;
    height: 100vh;
    width: 100%;
}

.info {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    display: table;
}
.email {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 17.4px;
    padding: 0 10px;
}
.img {
    margin-bottom: 20px;
    max-width: 100%;
}
.email a {
    text-decoration: none;
    color: #222;
}